---
layout: default
title: Archive
---

{% for post in site.posts %}
	{% if post.categories contains page.category or post.category == page.category %}
		<article>
			<h2 id="postTitle"><a href="{{post.url}}" title="{{post.title}}">{{post.title}}</a></h2>
			<time datetime='{{post.date | date: "%B %d. %Y"}}'>{{post.date | date: "%B %d. %Y"}}</time>
			<div class="post_title_content_space"></div>
			{% if post.excerpt %}
				{{post.excerpt | strip_html }}<a href="{{post.url}}" title="Continue reading...">more</a>
			{% else %}
				{{post.content}}
			{% endif %}
		</article>
		<hr>
	{% endif %}    
{% endfor %}
