<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    
    <meta name="google-site-verification" content="LZSnZOE7xwi-3GNA9CCweIf_mCl2BJlqOayyhacbxbs" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5C71F6GWV4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-5C71F6GWV4');
    </script>

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    {% if page.tipue_search_active or layout.tipue_search_active %}
    <link rel="stylesheet" href="{{ "/assets/tipuesearch/css/normalize.css" | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{{ "/assets/tipuesearch/tipuesearch_content.js" | relative_url }}"></script>
    <link rel="stylesheet" href="{{ "/assets/tipuesearch/css/tipuesearch.css" | relative_url }}">
    <script src="{{ "/assets/tipuesearch/tipuesearch_set.js" | relative_url }}"></script>
    <script src="{{ "/assets/tipuesearch/tipuesearch.min.js" | relative_url }}"></script>
    {% endif %}

    <script>
      function gotoSearchPage() {
        var searchInput = document.getElementById("searchInput");
        if (searchInput.value != "")
          window.location.href = "/search/?q=" + searchInput.value;
      }

      function gotoTagPage() {
        var tagsEle = document.getElementById("tags");
        window.location.href = "/tag/" + tags.value;
      }

    </script>

    {% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>


        <div class="nav">
          <ol>
            <li><a href="/" {% if page.url == "/" %} class="active" {% endif %}>Home</a></li>

            <li id="softwareList"><a href="#" {% if page.url contains "software/"%} class="active" {% endif %}>Software</a>
              <ul>
                <li><a href="/software/pcxx" {% if page.url contains "software/pcxx" %} class="active" {% endif %}>Playlist Converter++</a></li>
                <li><a href="/software/lolcdb" {% if page.url contains "software/lolcdb" %} class="active" {% endif %}>LoL Champion Database</a></li>
                <li><a href="/software/fud" {% if page.url contains "software/fud" %} class="active" {% endif %}>File URLs Doctor</a></li>
              </ul>
            </li>

            <li><a href="/gallery/" {% if page.url contains "/gallery" %} class="active" {% endif %}>Gallery</a></li>
            

            {% unless page.url contains "/search/" %}
            <li id="search_input">
                <input type="text" id="searchInput" onkeypress="if (event.key == 'Enter') gotoSearchPage()">
                <button onclick="gotoSearchPage()">Search</button>
            </li>
            {% endunless %}
            
            
          </ol>
        </div>

        <!--section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.playlistConverterxx }}" target="_blank" class="btn btn-github"><span class="icon"></span>Playlist Converter++</a>
            <a href="{{ site.github.lolcdb }}" target="_blank" class="btn btn-github"><span class="icon"></span>LoLCDB</a>
          {% endif %}
          <a href="{{ site.github.repository_url }}" target="_blank" class="btn btn-github"><span class="icon"></span>This Site Source Code</a>
        </section-->
      </div>
    </header>

    <div class="container">
      <div class="wrapper">

        <div class="sidebar">
          <div class="categories">
            <p class="sidebarHeader">Categories</p>
            <ul>
              {%- for category in site.categories -%}
              <li><a href="/category/{{ category[0] | slugify }}">{{ category[0] }} ({{ category | last | size }})</a></li>
              {%- endfor -%}

            </ul>
          </div>
          <div class="latestPost">
            <p class="sidebarHeader">Latest Post</p>
            {% assign post = site.posts.first %}
            <a href="{{ post.url }}">{{ post.title }}</a>
            <p id="postDate">{{ post.date | date: "%B %d. %Y" }}</p>
            <p id="postCategory">{{ post.category }}</p>
          </div>
          <div class="recentComments">
            <p class="sidebarHeader">Recent Comments</p>
            <script type="text/javascript" src="https://xen-e.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=0&avatar_size=28&excerpt_length=50"></script>
            <script>
              const dsq_widget = document.getElementsByClassName("dsq-widget-list");
              if (dsq_widget[0].childNodes.length < 5) {
                document.getElementsByClassName("recentComments")[0].innerHTML = "";
              }
            </script>
          </div>
          <div class="tags">
            <p class="sidebarHeader">Tags</p>
            <select name="tags" id="tags" onchange="gotoTagPage()">
              {%- for tag in site.tags -%}
              <option value="{{ tag[0] | slugify }}">{{ tag[0] }}</option>
              {%- endfor -%}
            </select>
          </div>
          <div class="archive">
            <p class="sidebarHeader">Archive</p>
            <ul>
              <li><a href="/year/2022" title="Posts from year 2022">2022</a></li>
              <li><a href="/year/2021" title="Posts from year 2021">2021</a></li>
            </ul>
          </div>
          <div class="youtubers">
            <p class="sidebarHeader">Fav Channels</p>
            <ol>
              <li><a href="https://www.youtube.com/user/melodysheep" target="_blank">MelodySheep</a></li>
              <li><a href="https://www.youtube.com/c/ProfessorDaveExplains" target="_blank">Prof. Dave</a></li>
              <li><a href="https://www.youtube.com/c/Veritasium" target="_blank">Veritasium</a></li>
              <li><a href="https://www.youtube.com/c/OverSimplified" target="_blank">OverSimplified</a></li>
              <li><a href="https://www.youtube.com/c/inanutshell" target="_blank">Kurzgesagt</a></li>
            </ol>
          </div>
          <div class="links">
            <p class="sidebarHeader">Links</p>
            <ol id="links">
              <li>
                <img src="/assets/images/github.png" alt="Github Profile">
                <a href="https://github.com/Xen-E/" target="_blank" title="See my humble Github profile. Follow me :)">Profile</a>
              </li>
              <li>
                <img src="/assets/images/rss.png" alt="Sitemap">
                <a href="https://xen-e.github.io/sitemap.xml" title="See raw XML data of this website map">Sitemap</a>
              </li>
              <li>
                <img src="/assets/images/rss.png" alt="RSS Feed">
                <a href="https://xen-e.github.io/feed.xml" title="The classical RSS feeds that you can use to subscribe.">RSS Feed</a>
              </li>
            </ol>
          </div>
        </div>
        <section id="main_content">
          <div {% if page.url == "/" or page.url contains "/page" %} class="front_page" {% else %} class="content" {% endif %} >
            {{ content }}
          </div>        
        </section>
      </div>
    </div>

    {% if page.url == "/" or page.url contains "/page" %}
    <!-- Pagination links -->
    <div class="pagination">
      <span id="previous">{% if paginator.previous_page %}<a href="{{ paginator.previous_page_path }}">Previous</a>{% else %}<span>Previous</span>{% endif %}</span>
      <span id="next">{% if paginator.next_page %}<a href="{{ paginator.next_page_path }}">Next</a>{% else %}<span>Next</span>{% endif %}</span>
      <span id="page_number"> | Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    </div>
    {% endif %}

  </body>
  <footer>
    
    <p><span id="left"><small>footer</small> {</span>This website is hosted by GitHub and uses Jekyll.</p>
    <p>All the content in here is by me, Xen &copy; 2022.<span id="right">}</span></p>
    
  </footer>
</html>
