---
layout: default
---

<h1>{{ page.title }}</h1>

<small id="post_datetime">{{ page.date | date: "%-d %B. %Y" }}</small>
<small id="post_author">{{ page.author | default: site.author }}</small>
<small id="post_category">{{ page.category }}</small>

<br><br>

<span class="articleContent">{{content}}</span>

{% if page.tags %}
<small class="postTags">Tags:
{%- for tag in page.tags -%}
<a href="/tag/{{ tag | downcase }}">{{ tag }}</a>
{%- endfor -%}
</small>
{% endif %}

<!--div class="share-post">
  <span id="deco">(</span> Share this on >=
  <a href="https://twitter.com/intent/tweet?text=Check out this blog post i liked: {{ page.title }}&url={{ site.url }}{{ page.url }}&hashtags={{ page.tags | join: "," }}" rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a>
  /
  <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">Facebook</a>
  <span id="deco">||</span> E-Mail it >= <a href="mailto:?subject={{page.title}}&amp;body=Check out this blog post i liked: {{site.url}}{{page.url}} by {{site.author}}">Send</a>
  <span id="deco">)</span>
</div-->

<hr>
<p>
  <div id="disqus_thread"></div>
  <script>
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://xen-e.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
  </script>
  <noscript>Please enable <strong>JavaScript</strong> to view the comments.</noscript>
</p>

  <!--p>
    <script src="https://utteranc.es/client.js"
        repo="Xen-E/xen-e.github.io"
        issue-term="pathname"
        label="Comments"
        theme="photon-dark"
        crossorigin="anonymous"
        async>
    </script>
  </p-->