---
layout: default
---

<script>
  function calcArticle() {
    const text  = document.getElementById("articleContent").innerText;
    const wpm   = 238; //Average adult words per minute
    const words = text.trim().split(/\s+/).length;
    const time  = Math.ceil(words / wpm);
    document.getElementById("timeToRead").innerHTML = "~<strong>" +
                                                      time +
                                                      "</strong> " +
                                                      "Minute(s) read. " +
                                                      "<strong>" +
                                                      words +
                                                      "</strong>" +
                                                      " Words in this Post.";
  }
</script>

<h1>{{ page.title }}</h1>

<div class="postMetadata">
  <span id="post_datetime">{{ page.date | date: "%-d %B. %Y" }}</span>
  <span id="post_author">{{ page.author | default: site.author }}</span>
  <span id="post_category">{{ page.category }}</span>
</div>
<div class="postCalculations">
  <noscript style="color:orange;">Can't calculate article words because <strong>Javascript</strong> is disabled.</noscript>
  <span id="timeToRead"></span>
</div>

<span class="articleContent" id="articleContent">{{content}}</span>

<script>calcArticle();</script>

{% if page.tags %}
<small class="postTags">Tags:
{%- for tag in page.tags -%}
<a href="/tag/{{ tag | downcase }}">{{ tag }}</a>
{%- endfor -%}
</small>
{% endif %}

<!--div class="share-post">
  <span id="deco">(</span> Share this on >=
  <a href="https://twitter.com/intent/tweet?text=Check out this blog post i liked: {{ page.title }}&url={{ site.url }}{{ page.url }}&hashtags={{ page.tags | join: "," }}" rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a>
  /
  <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">Facebook</a>
  <span id="deco">||</span> E-Mail it >= <a href="mailto:?subject={{page.title}}&amp;body=Check out this blog post i liked: {{site.url}}{{page.url}} by {{site.author}}">Send</a>
  <span id="deco">)</span>
</div-->

<hr>
<p>
  <div id="disqus_thread"></div>
  <script>
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://xen-e.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
  </script>
  <noscript style="color:orange; font-size:20px; text-align:center;">
    Please enable <strong>Javascript</strong> to view the comments.
  </noscript>
</p>

  <!--p>
    <script src="https://utteranc.es/client.js"
        repo="Xen-E/xen-e.github.io"
        issue-term="pathname"
        label="Comments"
        theme="photon-dark"
        crossorigin="anonymous"
        async>
    </script>
  </p-->